# log
*.log

# config
*.yaml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
webconsole
sxjk

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.ccls*

.idea
C++11/class/bin/hello
C++11/constructor/bin/complex
C/overview/hello.o
C/overview/hello
C/basic/bin/test
C/basic/bin/hello
Parallel/Pthread/sum/bin/pthread_sum
Parallel/Pthread/hello/bin/hello
Parallel/OpenMP/split/split
Parallel/OpenMP/bin/odd_even_test
Parallel/OpenMP/bin/PI
Parallel/OpenMP/bin/trap1
Parallel/OpenMP/bin/omp_odd_even1
Parallel/OpenMP/bin/omp_trap3
Parallel/OpenMP/bin/omp_trap2b
Parallel/OpenMP/bin/omp_hello
Parallel/OpenMP/bin/omp_trap2a
Parallel/OpenMP/bin/omp_hello_err_chk
Parallel/OpenMP/bin/odd_even
Parallel/OpenMP/bin/omp_schedule
Parallel/OpenMP/bin/omp_odd_even2
Parallel/OpenMP/bin/print_omp
Parallel/OpenMP/bin/omp_trap1
Parallel/OpenMP/omp_split/split
Parallel/Problems/bin/tsp_iter1
Parallel/Problems/bin/tsp_rec
Parallel/Problems/bin/tsp_iter2
Parallel/MPI/HW4/odd/odd
Parallel/MPI/HW4/mpi_odd/odd
Parallel/MPI/HW2_trap/trap/trap
Parallel/MPI/HW2_trap/trap/trap.o
Parallel/MPI/HW2_trap/trap1/trap
Parallel/MPI/HW2_trap/trap1/trap.o
Parallel/MPI/HW2_trap/mpi_output/mpi_output
Parallel/MPI/HW2_trap/trap2/trap
Parallel/MPI/HW2_trap/trap2/trap.o
Parallel/MPI/HW2_trap/trap3/trap
Parallel/MPI/HW2_trap/trap3/trap.o
Parallel/MPI/HW1_sum/bin/mpisum
Parallel/MPI/HW1_sum/bin/helloworld
Parallel/MPI/HW1_sum/bin/sum
Parallel/MPI/HW1_sum/bin/mpi_trap1
Parallel/MPI/HW1_sum/bin/mpisum2
Parallel/MPI/HW3/sum1/bin/mpisum2
Parallel/MPI/HW3/trap1/trap
Parallel/MPI/HW3/trap1/trap.o
Parallel/MPI/HW3/trap2/trap
Parallel/MPI/HW3/trap2/trap.o
Parallel/MPI/HW3/mpi_vector_mult/mult
Parallel/MPI/HW3/sum2/bin/mpisum2
Parallel/MPI/HW3/mpi_vector_add/vector_add
Parallel/MPI/HW3/mpi_vector_add/vector_add.o
